<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>novijetverzendt</name>
	<displayName><![CDATA[Novi jetverzendt]]></displayName>
	<version><![CDATA[1.1.5]]></version>
	<description><![CDATA[Novi jetverzendt connector]]></description>
	<author><![CDATA[NoviSites.nl]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
